.spinner {
  /* position: absolute; */
  /* inset: 0; */
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: white;
  margin-bottom: 50px;
}

.spinner span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid;
  border-color: black black black transparent;
  display: inline-block;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  width: 100%;
}
